*{
    font-family: 'Courier New', Courier, monospace;
    margin: none;
    padding:none;
    box-sizing: border-box;
}
 body{
    background: linear-gradient(135deg, #fff, #000);
    height: 100vh;
 }
 .container{
    border: 1px solid;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    width: 400px;
    top: 50%;
    left: 50%;
    position: absolute;
    background: linear-gradient(135deg,#ffffff, #cfcfcf );
    transform: translate(-50%, -50%);
 }
 h1{
    font-size: 24px;
    font-weight: 600;
    word-wrap: none;
 }
 input{
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
 }
.qr{
    display: none;
}
 button{
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    background: #dadada;
    font-size: 16px;
    font-weight: 600;
 }
 button:hover{
    cursor: pointer;
    transition: 3ms ease-in-out;
 }
 button:active{
    transition: 5ms ease-in-out;
 }