*{
    font-family: 'Courier New', Courier, monospace;
    margin: none;
    padding:none;
    box-sizing: border-box;
}
 body{
    background: linear-gradient(135deg, #fff, #000);
    height: 100vh;
 }
 .container{
    border: 1px solid;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    width: 400px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, #3d9690, #000000);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: white;
 }
 h1{
    font-size: 20px;
    font-weight: 600;
    word-wrap: none;
 }
 input{
    background: linear-gradient(135deg, #cfcfcf, #ffffff);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 100%;
 }
 input:focus{
    outline: none;
    border: 2px solid #3d9690;
 }
 .qr{
    border: 2px solid #3d9690;
    display: none;
    margin: 10px auto;
    padding: 10px;
    width: fit-content;
    background: white;
 }
 button{
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    background: #7a7a7a;
    font-size: 16px;
    font-weight: 650;
    color: white;
 }
 button:hover{
    cursor: pointer;
    transition: 3ms ease-in-out;
 }
 button:active{
    transform: scale(0.98);}